* {
    margin: 0;
    padding: 0;
    color: black;
    width: 100%;
    height: fit-content;
}
body {
    overflow-x: none;
    overflow-y: scroll; 
}
.navbar {
    display: flex;
    height: 48px;
    width: 100%;
    background-color: #000000;
}
.boxAlign {
    display: flex;
    flex: auto;
    align-items: center;
    text-align: center;
}
.navbar p {
    color: white;
    font-size: 18px;
    font-family: Raleway;
}
.appTitle {
    font-weight: bold;
    height: 100%;
    width: 100px;
    margin-left: 40px;
    float: left;
}
.searchBar{
    float: right;
    height: 100%;
    /* background-color: none; */
    margin-right: 40px;
    width: 80px;
    /* background: none; */
    border: none;
    color: black;
}